Django==2.2.8
django-cors-headers==3.2.0
djangorestframework==3.10.3
mysqlclient==1.4.6
Pillow==6.2.1
pip==19.3.1
PyMySQL==0.9.3
setuptools
sqlparse==0.3.0
wheel==0.33.6
django-filter==2.2.0
django-admin-list-filter-dropdown==1.0.3
django-admin-rangefilter==0.5.2
django-import-export
django-admin-view-permission
matplotlib==3.1.2
mysql-connector-python==8.0.17
numpy==1.18.0
openpyxl==3.0.2
cmake
dlib
face_recognition
django-guardian
keras
tensorflow