{% extends 'admin/base.html' %}
{% block content %}
  <head>
    <meta charset="utf-8">
    <title>Base</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar navbar-default navbar-static-top">
        <div class="container">
            <ul class="nav navbar-nav">
                    {# Django Home Link / Admin Link / Register Link#}
                <li><a class="navbar-brand" href="{% url 'index' %}">DJANGO</a></li>
                <li><a class="navbar-link" href="{% url 'admin:index' %}">Admin</a></li>
                    {# Some logic on what to display for last item#}
                    {% if user.is_authenticated %}
                <li><a href="{% url 'index' %}">Logout</a></li>
                    {% else %}
                <li><a class="navbar-link" href="{% url 'User:user_login' %}">Login</a></li>
                    {% endif %}
            </ul>
        </div>
    </nav>
</body>
<div class="container">
    <h1>Welcome to the Djungle !</h1>
        {% if user.is_authenticated %}
    <h2>Hello {{ user.username }}</h2>
        {% else %}
    <h2>Register or Login if you'd like to</h2>
        {% endif %}
    </div>
</div>
{% endblock %}